<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<title>웹 이미지 크롤러</title>

</head>
<body>
	<div class="wrap theme_set theme_red color">
		<div class="error_wrap" style="height:100%;">
			<div class="area theme_set theme_red bg color" style="height:calc(100vh - 15px);">
				<p style="margin: auto;padding: 200px 0 0 0;text-align: center;font-size: 25px;font-weight: 600;">오류가 발생하였습니다.</p>
			</div>
		</div>
	</div>
</body>
</html>